{% block header %}
    <header>
        <h1 id="page-title">CordPics</h1>
        {% if user %}
            <span id="username">{{ user.username }}</span>
            <img src="{{ user.avatar_url }}" alt="Avatar">
        {% else %}
            <a href="{{ url_for('login') }}">
                <button id="login-button">Login</button>
            </a>
        {% endif %}
    </header>
{% endblock %}
