{% extends "base.j2" %} {% block title %}Management{% endblock %} {% block
styles %}
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='management.css') }}"
    />
{% endblock %} {% block content %}
    <section id="management-container">
        <div id="installed-on">
            <h3 id="installed-on-text">Installed On</h3>
            <div id="installed-on-list">
                {% for guild in installed_guilds %}
                    <div class="server">
                        <span class="server-id">{{ guild.id }}</span>
                        <img class="server-image"
                             src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}">
                        <span class="server-name">{{ guild.name }}</span>
                        <div class="server-arrow"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="installable-on">
            <h3 id="installable-on-text">Installable On</h3>
            <div id="installable-on-list">
                {% for guild in installable_guilds %}
                    <div class="server">
                        <img class="server-image"
                             src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}">
                        <span class="server-name">{{ guild.name }}</span>
                    </div>
                {% endfor %}
            </div>
            <a href="{{ url_for('install_redirect') }}" id="install-button-container">
                <button id="install-button">Install</button>
            </a>
        </div>
        <div id="channels">
            <h2>Enable CordPics For These Channels</h2>
            <div id="channels-list"></div>
        </div>
    </section>

{% endblock %} {% block scripts %}
    <script
            src="{{ url_for('static', filename='management.js') }}"
            type="text/javascript"
    ></script>
{% endblock %}
