{% extends 'base.j2' %}
{% block content %}
    <div id="management-window">
        <div id="server-list-section">
            <ul id="server-list">

            </ul>
            <button id="install-button">Install</button>
        </div>
        <div id="settings-section">
            <div id="management-enable-channels">
                <span id="management-enable-channels-text">
                    Enable CordPics for these channels:
                </span>
            </div>
        </div>
    </div>
{% endblock %}