<nav>
  <div id="header-and-hamburger">
    <div id="hamburger"></div>
    <h1><a href="/">CORDPICS</a></h1>
  </div>
  <div id="nav-items">
    <div class="nav-item"><a href="{{ url_for('mainpage') }}">Home</a></div>
    <div class="nav-item"><a href="{{ url_for('gallery') }}">Gallery</a></div>
    <div class="nav-item"><a href="{{ url_for('management') }}">Management</a></div>
  </div>
</nav>
