{% extends "base.j2" %}
{% block content %}
	<span id="tagline">Welcome to CordPics!</span>
    <p id="welcome-text">CordPics is the easy way to browse through lots of images on Discord.</p>
{% endblock %}